main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 2rem;
    background-image: url(backgound.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: white;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.button {
    padding: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.výdělek {
    font-size: large;
}

.rebirth {
    color: gold;
    background-color: rgb(255, 249, 189);
}